Repository software-mansion-labs/expo-brownfield-target: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ktfmt, swiftformat

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx,json}": ["prettier --write"],
  "**/*.{kt,kts}": ["ktfmt"],
  "**/*.swift": ["swiftformat"]
}

fix: fix collision between --release and --repository arguments
  plugin/src/cli/constants/args.ts
Due: prettier --write

chore: add script for building android
  scripts/build-android.sh
Due: none

docs: add metro usage section to README.md
  README.md
Due: none

docs: update docs
  docs/cli.md
  docs/manual-setup.md
Due: none

fix: skip printing tasks and repos in verbose mode
  plugin/src/cli/commands/android/tasks.ts
Due: prettier --write

fix: fix outdated help messages
  plugin/src/cli/constants/help.ts
Due: prettier --write

fix: stop hardocding edge-to-edge
  plugin/src/templates/android/build.gradle.kts
Due: ktfmt

chore: post refactor fixes & improvements (#38)
  README.md
  docs/cli.md
  docs/manual-setup.md
  example/app/package-lock.json
  example/ios-swiftui/ios-swiftui.xcodeproj/xcshareddata/xcschemes/ios-swiftui.xcscheme
  example/ios-swiftui/ios-swiftui/ContentView.swift
  example/ios/ios/ViewController.swift
  plugin/src/cli/commands/android/tasks.ts
  plugin/src/cli/constants/args.ts
  plugin/src/cli/constants/help.ts
  plugin/src/templates/android/build.gradle.kts
  scripts/build-android.sh
Due: prettier --write, ktfmt, swiftformat

docs: fixes & improvements in api.md
  docs/api.md
Due: none

docs: fixes & improvements in cli.md
  docs/cli.md
Due: none

docs: fixes & improvements in configuration.md
  docs/configuration.md
Due: none

docs: fixes & improvements in manual-setup.md
  docs/manual-setup.md
Due: none

docs: fixes & improvements in manual-setup.md pt.2
  docs/manual-setup.md
Due: none

docs: fixes & improvements in publishing.md
  docs/publishing.md
Due: none

docs: fixes & improvements in publishing.md pt.2
  docs/publishing.md
Due: none

docs: fixes & improvements in templates.md
  docs/templates.md
Due: none

docs: fixes & improvements in README.md
  README.md
Due: none

docs: documentation fixes and improvements (#39)
  README.md
  docs/api.md
  docs/cli.md
  docs/configuration.md
  docs/manual-setup.md
  docs/publishing.md
  docs/templates.md
Due: none

chore: update package version to 0.6.0
  package-lock.json
  package.json
Due: prettier --write

docs: update README.md
  README.md
Due: none

build: fix publishing workflow
  .github/workflows/publish.yml
Due: none

build: update node version on ci
  .github/workflows/publish.yml
Due: none

feat: forward app delegate methods to expo delegate
  example/app/app.json
  example/app/package-lock.json
  example/app/package.json
  example/ios-swiftui/ios-swiftui/Info.plist
  example/ios-swiftui/ios-swiftui/ios_swiftuiApp.swift
  example/ios/ios/AppDelegate.swift
  plugin/src/ios/plugins/withXcodeProjectPlugin.ts
  plugin/src/templates/ios/BrownfieldAppDelegate.swift
  plugin/src/templates/ios/ExpoApp.swift
  plugin/src/templates/ios/ExpoAppDelegateWrapper.swift
  plugin/src/templates/ios/ReactNativeDelegate.swift
  plugin/src/templates/ios/ReactNativeViewController.swift
Due: prettier --write, swiftformat

feat: implement app lifecycle dispatcher for android
  example/android/app/src/main/java/com/pmleczek/android/ReactNativeActivity.kt
  example/app/app.json
  example/app/package-lock.json
  example/app/package.json
  example/ios-swiftui/ios-swiftui/Info.plist
  plugin/src/android/plugins/withProjectFilesPlugin.ts
  plugin/src/templates/android/BrownfieldActivity.kt
  plugin/src/templates/android/ReactNativeFragment.kt
  plugin/src/templates/android/ReactNativeHostManager.kt
  plugin/src/templates/android/ReactNativeViewFactory.kt
  plugin/src/templates/ios/ExpoApp.swift
Due: prettier --write, ktfmt, swiftformat

refactor: rename ExpoApp.swift to ReactNativeHostManager.swift
  docs/manual-setup.md
  docs/templates.md
  example/app/package-lock.json
  example/scripts/build-xcframework.sh
  plugin/src/cli/utils/infer.ts
  plugin/src/ios/plugins/withXcodeProjectPlugin.ts
  plugin/src/templates/ios/ReactNativeHostManager.swift
Due: prettier --write, swiftformat

docs: update README.md to include information about delegate methods forwarding
  README.md
  example/app/package-lock.json
  example/ios-swiftui/ios-swiftui/ContentView.swift
Due: prettier --write, swiftformat

fix: update framework path search settings
  plugin/src/ios/utils/project.ts
Due: prettier --write

chore: update package version to 0.6.1
  package.json
Due: prettier --write

fix: fix missing CFBundleShortVersionString in generated plist
  plugin/src/ios/plugins/withXcodeProjectPlugin.ts
  plugin/src/ios/utils/project.ts
Due: prettier --write

chore: fix typo
  plugin/src/ios/plugins/withXcodeProjectPlugin.ts
Due: prettier --write

chore: update package version to 0.6.2
  package.json
Due: prettier --write

chore: update package version to 0.6.3
  package.json
Due: prettier --write
